<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/calendar.css">
    <title>Personal Blog</title>

</head>

<body>
    <header>
        <div id="navbar">
            <h2 id="navDate"></h2>
            <form id="login-form" class="hidden">
                <input type="text" required id="login-input" placeholder="Name">
                <button type="submit" id="login-btn">Login</button>
            </form>
            <form id="logout-form" class="hidden">
                <button type="submit" id="logout">Logout</button>
            </form>
        </div>
    </header>
    <h2 id="clock">00:00:00</h2>
    <h1 id="greeting" class="hidden"></h1>
    <br>
    <div id="weather">
        <span></span>
        <span></span>
    </div>
    <div class="calendar-todo">
    <div>
    <table class="Calendar">
        <thead>
            <tr>
                <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                <td colspan="5">
                    <span id="calText">To Do 리스트를 작성해보아요</span>
                    <br>

                    <span id="calYear"></span>년
                    <span id="calMonth"></span>월
                </td>
                <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
            </tr>
            <tr>
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    </div>
    <form id="todo-form" style="display: none;">
        <input type="text"  placeholder="To Do 리스트를 작성하고, Enter를 누르세요." required>
    </form>
    <ul id="todo-list"></ul>
</div>
    <footer>
        <div id="quote">
            <span style="display: none;"></span>
            <span style="display: none;"></span>
        </div>
    </footer>
    </script>
    <script src="/js/calendar.js"></script>
    <script src="/js/navDate.js"></script>
    <script src="/js/background.js"></script>
    <script src="/js/greetings.js"></script>
    <script src="/js/clock.js"></script>
    <script src="/js/quotes.js"></script>
    <script src="/js/todo.js"></script>
    <script src="/js/weather.js"></script>
</body>

</html>